.container-personalized {
    position: relative;
    width: 35rem;
    min-width: 35rem;
    padding: 1em 0 !important;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.submit-btn-personalized {
    position: relative;
    background-color: #444;
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 30px;
    border-radius: 10px;
    transition: 0.5s;
}

.submit-btn-personalized:hover {
    letter-spacing: 3px;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

.submit-btn-personalized::before {
    content: '';
    position: absolute;
    border-radius: 10px;
    inset: 2px;
    background: var(--main-color);
}

.submit-btn-personalized span {
    position: relative;
    z-index: 1;
}

.submit-btn-personalized i {
    position: absolute;
    inset: 0;
    display: block;
}

.submit-btn-personalized i::before {
    content: '';
    position: inherit;
    top: -2px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--secondary-color);
    background: var(--main-color);
    transform: translateX(-50%);
    transition: 0.5s;
}

.submit-btn-personalized:hover i::before {
    width: 20px;
    left: 20%;
    border: 2px solid var(--clr);
}

.submit-btn-personalized i::after {
    content: '';
    position: inherit;
    bottom: -2.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--secondary-color);
    background: var(--main-color);
    transform: translateX(-50%);
    transition: 0.5s;
}

.submit-btn-personalized:hover i::after {
    width: 20px;
    left: 80%;
    border: 2px solid var(--clr);
}

.col-md,
.col-sm {
    padding: 0 !important;
}

/* Forms Fixed */
.container-forms h2,
.container-forms form,
.container-forms .text-muted {
    margin: 15px 30px;
}

.container-forms h2,
.container-forms form div label {
    color: var(--secondary-color);
}

.container-forms form div label {
    font-size: 18px;
    letter-spacing: 1px;
}

.container-forms form div input {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border: none;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    color: var(--secondary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form-control:focus {
    background: transparent;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    color: var(--secondary-color);
}

.container-forms form div .form-text {
    color: var(--main-color);
}

.container-forms .text-muted {
    color: var(--main-color) !important;
}

.container-forms .text-muted a {
    color: var(--secondary-color) !important;
}

.container-forms form button {
    position: relative;
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 30px;
    border-radius: 10px;
    transition: 0.5s;
    border: #444;
}

.container-forms form button:hover {
    letter-spacing: 3px;
    background-color: var(--main-color);
    color: var(--terciary-color-second);
    box-shadow: 0 0 30px var(--main-color);
}