{% extends "base.html" %}

{% block content %}
<h1>{{tomorrow}} Proposals</h1>
{% if already_voted %}
Ya tienes un voto registrado.
{% endif %}
<table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>User</th>
            <th>Date</th>
            <th>Status</th>

        </tr>
    {% for proposal in proposals %}
            <tr>
                <td>{{ proposal.title }}</td>
                <td>{{ proposal.description }}</td>
                <td>{{ proposal.user }}</td>
                <td>{{ proposal.date }}</td>
                <td>{{ proposal.status }}</td>
                {% if users_without_proposals|length == 0  and not already_voted  and not results_available%}
                    <td>
                        <a href="{% url 'vote' proposal_id=proposal.id %}">Vote!</a>
                    </td>
                {% endif %}
                {% if already_voted %}
                    <td>
                        <p>#Votes  {{proposal.number_of_votes}}</p>
                    </td>
                {% endif %}
                
            </tr>
    {% endfor %}
    {% for user in users_without_proposals %}
        <tr>
            <td>------------</td>
            <td>------------</td>
            <td>{{ user.username }}</td>
            <td>------------</td>
            <td>Not submited</td>
        </tr>
    {% endfor %}   
</table>
{% if results_available %}
The results are ready!
<a href="{% url 'results' %}">Results</a><br>
{% endif %}
{% if users_without_proposals|length < 0 %}
<p> Can not vote until all users have submitted proposals</p><br>
<a href="" >Remind other members via email</a><br>
{% endif %}
<a href="{% url 'proposal' %}">Create Proposal</a><br>
<a href="{% url 'home' %}">Home</a><br>
{% endblock %}